<h1>Dockerized Rails app with remote Postgres database, protected Redis database and Sidekiq running on remote Redis</h1>
<br>


<br>
<h2> REDIS DB: <%= @compteur  %></h2>
<br>
<h2> PG    DB: <%=  @nb %></h2>
<br>
<p>
   SECRET_KEY_BASE: <%= Rails.application.credentials.secret_key_base %>
</p>
<br>
<p>The Postgres database is remotely running at: <%= ENV.fetch('ELEPHANT_URL','') %></p>
<p>The local Redis database is at: <%= ENV.fetch('REDIS_URL','')%> </p>
<p>Sidekiq is connected to a remote Redis database: <%= Sidekiq.redis { |conn| p conn.connection[:id] } %></p>

