<!DOCTYPE html>
<html>
  <head>
    <title>DockerSlim</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# javascript_pack_tag 'Index' %>
  </head>

  <body>
    <div class="flexed">
    <%= image_pack_tag 'media/images/Rails.png', class: "img" %>
    <%= image_pack_tag 'media/images/docker2.png', class: "img" %>
    <%= image_pack_tag 'media/images/Redis.png',class: "img" %> 
    <%= image_pack_tag 'media/images/sidekiq.png', class: "img" %> 
    <%= image_pack_tag 'media/images/Postgres.png', class: "img-large" %>
    <%= image_pack_tag 'media/images/Elephantsql.jpeg', class: "img" %>
    <%= image_pack_tag 'media/images/React.png', class: "img-med" %>

    </div>
    
    <%= yield %>
  </body>
</html>
