<!DOCTYPE html>
<html lang="en">
  <head>
    <title>DockerSlim</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
     <meta name="description" content="A demo Rails app">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# javascript_pack_tag 'Index' %>
    <%# javascript_packs_with_chunks_tag 'counters_channel' %>
    
    <%# Generated with: https://realfavicongenerator.net/ %>
    <%# <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"> %>
    <%# <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png"> %>
    <%# <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"> %>
    <%# <link rel="manifest" href="/site.webmanifest"> %>
    <%# <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#61b9d2"> %>
    <%# <meta name="msapplication-TileColor" content="#da532c"> %>
    <meta name="theme-color" content="#ffffff">

  </head>

  <body>
    <div class="flexed">
    <%= image_pack_tag 'media/images/Rails.png', class: "img" %>
    <%= image_pack_tag 'media/images/docker2.png', class: "img" %>
    <%= image_pack_tag 'media/images/Redis.png',class: "img" %> 
    <%= image_pack_tag 'media/images/sidekiq.png', class: "img" %> 
    <%= image_pack_tag 'media/images/Postgres.png', class: "img-large" %>
    <%= image_pack_tag 'media/images/Elephantsql.jpeg', class: "img" %>
    <%= image_pack_tag 'media/images/FrontReact.png', class: "img-med" %>
    <h3 > Page hit count:  <% @page_count %> </h3>
    </div>
    
    <%= yield %>


    <p>Hosted by: <%= ENV['HOSTNAME'] %></p>
    <p>POSTGRES_URL: <%= ENV['DATABASE_URL'] %></p>
    <p>REMOTE_POSTGRES_URL: <%# ENV['ELEPHANT_URL']%></p>
    <p>REDIS_URL: <%= ENV['REDISTOGO_URL'] %></p>
    <p>CABLE_URL: <%= ENV['CABLE_URL'] %></p>
    <p>SIDEKIQ_REDIS_URL: <%= Sidekiq.redis { |conn| conn.connection[:id] } %></p>
    <code> RAILS MASTER KEY:  <%= ENV['RAILS_MASTER_KEY'] %> </code>
  </body>
</html>
