<!DOCTYPE html>
<html lang="en">
  <head>
    <title>DockerSlim</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Slim Rails image ">
   
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <meta name="theme-color" content="#ffffff">

    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= image_pack_tag 'Rails.png', class: "img-large", alt:"rails" %>
    <%= image_pack_tag 'docker2.png', class: "img", alt:"docker" %>
    <%= image_pack_tag 'Redis.png',class: "img-large", alt:"redis" %> 
    <%= image_pack_tag 'sidekiq.png', class: "img", alt:"sidekiq" %> 
    <%= image_pack_tag 'Postgres.png', class: "img-large", alt:"pg" %>
    <%= image_pack_tag 'Elephantsql.jpg', class: "img", alt:"elpsq" %>
    <%= image_pack_tag 'FrontReact.png', class: "img-med", alt:"react"  %>
    <%= image_pack_tag 'websocket.jpeg', class: 'img', alt: 'ws' %>
    
    <br>
    <%= yield %>
    <p>Browser's IP: <%= @origin %></p>
    <p>Hosted by: <%= ENV['HOSTNAME'] %></p>
    <p>POSTGRES_URL: <%= ENV['POSTGRES_URL'] %></p>
    
    <p>REDIS_SIDEKIQ: <%= Sidekiq.redis { |conn| conn.connection[:id] } %></p>
    <p>REDIS_DB: <%=  ENV['REDIS_DB'] %></p>
    <code>
      MASTER_KEY: <%= ENV.fetch('RAILS_MASTER_KEY','') %>
    </code>

  </body>
</html>
