<!DOCTYPE html>
<html lang="en">
  <head>
    <title>DockerSlim</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Slim Rails image ">
   
    <%= action_cable_meta_tag %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag "application", defer: true %>
  </head>

  <body>
    
    <header class='images' >
      <%= image_pack_tag 'kubernetes.png', class: "img", alt:"k8" %>
      <%= image_pack_tag 'Rails.png', class: "img-large", alt:"rails" %>
      <%= image_pack_tag 'docker2.png', class: "img", alt:"dokcer" %>
      <%= image_pack_tag 'Redis.png',class: "img-large", alt:"redis" %> 
      <%= image_pack_tag 'sidekiq.png', class: "img", alt:"sidekiq" %> 
      <%= image_pack_tag 'Postgres.png', class: "img-large", alt:"pg" %>
      <%= image_pack_tag 'Elephantsql.jpg', class: "img", alt:"elphtsql" %>
      <%= image_pack_tag 'FrontReact.png', class: "img-med"  %>
      <!-- <img src="<%# asset_pack_path 'images/FrontReact.png' %>" class="img-med" alt="logo"></img> -->
      <%= image_pack_tag 'websocket.jpg', class: 'img', alt: 'ws' %>
    </header>

  
    <%= yield %>

    
    <code>
      MASTER_KEY: <%= ENV.fetch('RAILS_MASTER_KEY','') %>
    </code>

  </body>
</html>
